<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Iris Flower Classifier</title>
</head>
<body>
    <h2>Iris Flower Classifier</h2>
    <form method="POST" action="/predict">
        <label>Sepal Length:</label><br>
        <input type="text" name="sepal_length" required><br><br>

        <label>Sepal Width:</label><br>
        <input type="text" name="sepal_width" required><br><br>

        <label>Petal Length:</label><br>
        <input type="text" name="petal_length" required><br><br>

        <label>Petal Width:</label><br>
        <input type="text" name="petal_width" required><br><br>

        <input type="submit" value="Predict">
    </form>

    {% if prediction_text %}
        <h3>{{ prediction_text }}</h3>
        <img src="{{ url_for('static', filename=image_file) }}" alt="Iris Image" style="max-width:300px; margin-top: 10px;">
    {% endif %}

</body>
</html>
